<%- include("header") -%>

<div class="container-fluid">
        <h1 class="sucess">Oops!!! You don't have a account please Sign Up first!</h1>
        <div class="row sucess">
                <div class="col-lg-12 column">
                   <button class="btn btn-lg btn-primary"><a href="signup">Click to Sign Up</a></button> 
            </div>
        </div>
</div>



<%- include("footer")  -%>