<%- include("header") -%>

<div class="container-fluid">
    <h1 class="sucess">You are Signed Up Sucessfully!!!</h1>

     <!-- back to home -->

     <div class="row sucess">
            <div class="col-lg-12 column">
                <form action="/backtohome" method="post">
                    <button class="btn btn-lg btn-primary" type="submit">Let's Start</button>
                </form>
        </div>
    </div>

</div>

<%- include("footer") -%>